<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan
		base-package="org.yaswanth.jdbc"></context:component-scan>
		
	<!-- Transaction Management Configuration Starts -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">

		<property name="dataSource" ref="dataSourceForConnection"></property>
	</bean>

	<!-- Transaction Management Configuration Starts -->
	
	<bean id="dataSourceForConnection"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/school?useSSL=false"></property>
		<property name="username" value="root"></property>
		<property name="password" value="Chinna@0248"></property>
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver"></property>
	</bean>

	<bean id="jdbcTemplateObject"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource"
			ref="dataSourceForConnection" />
	</bean>

	<!-- <bean id="studentDAOImpl" -->
	<!-- class="org.yaswanth.jdbc.DAO.StudentDAOImpl"> -->
	<!-- <property name="jdbcTemplate" ref="jdbcTemplateObject"></property> -->
	<!-- </bean> -->
</beans>
